In [1]:
%matplotlib inline

In [2]:
import pandas as pd
import os
from functools import reduce
import matplotlib.pyplot as plt
import numpy as np
from scipy.stats.stats import pearsonr
from scipy import stats
from scipy.stats import ks_2samp
from scipy.stats import entropy

Datafiles
There are 96 separate datafiles, each representing the processed output of an RNAseq experiment looking at mRNA levels in wild-type (48 samples) or SNF2 deletion (48 samples) yeast cells grown under standard condition.

The files are incredible simple. Two columns, separated by tabs. The first column is the gene name, the second column the normalized counts for that gene in that sample (read the paper if you're interested in how they did the counting and normalization).

YBL013W 39 YBL014C 127 YBL015W 732 YBL016W 309 YBL017C 1613 YBL018C 174 YBL019W 117 YBL020W 258 YBL021C 248 YBL022C 1168 YBL023C 331 YBL024W 451 YBL025W 64 YBL026W 206 YBL027W 9723 YBL028C 77 YBL029C-A 157

Most of the genes have this naming format:

Systematic names for nuclear-encoded ORFs begin with the letter 'Y' (for 'Yeast'); the second letter denotes the chromosome number ('A' is chr I, 'B' is chr II, etc.); the third letter is either 'L' or 'R' for left or right chromosome arm; next is a three digit number indicating the order of the ORFs on that arm of a chromosome starting from the centromere, irrespective of strand; finally, there is an additional letter indicating the strand, either 'W' for Watson (the strand with 5' end at the left telomere) or 'C' for Crick (the complement strand, 5' end is at the right telomere).

You can read about the yeast gene naming system here - http://seq.yeastgenome.org/help/community/nomenclature-conventions.

In [7]:
df = pd.read_csv("rawdata/WT_rep16_MID92_allLanes_tophat2.0.5.bam.gbgout",sep="\t",header=None)

In [8]:
df.head(10)

          0    1
0  15S_rRNA   29
1  21S_rRNA  221
2      HRA1    0
3      ICR1   70
4      LSR1  314
5      NME1   33
6      PWR1    0
7     Q0010    0
8     Q0017    0
9     Q0032    0

In [8]:
df = pd.read_csv("rawdata/WT_rep16_MID92_allLanes_tophat2.0.5.bam.gbgout",sep="\t",header=None,names=["Gene","Expression"])

In [10]:
df.sort_values('Expression')

                      Gene  Expression
7130  alignment_not_unique           0
444              YBR121C-A           0
6717               YPR177C           0
6709             YPR170W-A           0
3166               YIL082W           0
...                    ...         ...
440                YBR118W      109711
3012               YHR174W      120322
2639               YGR192C      173478
7126            no_feature      414503
7127             ambiguous     1387186

[7131 rows x 2 columns]

In [11]:
df2 = pd.read_csv("rawdata/Snf2_rep17_MID89_allLanes_tophat2.0.5.bam.gbgout",sep="\t",header=None,names=["Gene","Expression"])

In [12]:
df2.head(10)

       Gene  Expression
0  15S_rRNA          50
1  21S_rRNA         391
2      HRA1           2
3      ICR1         203
4      LSR1         439
5      NME1          52
6      PWR1           0
7     Q0010           0
8     Q0017           0
9     Q0032           0

In [13]:
df.merge(df2,on="Gene",how='outer')

                      Gene  Expression_x  Expression_y
0                 15S_rRNA            29            50
1                 21S_rRNA           221           391
2                     HRA1             0             2
3                     ICR1            70           203
4                     LSR1           314           439
...                    ...           ...           ...
7126            no_feature        414503        904605
7127             ambiguous       1387186       1687147
7128         too_low_aQual             0             0
7129           not_aligned             0             0
7130  alignment_not_unique             0             0

[7131 rows x 3 columns]

In [15]:
sorted(os.listdir("rawdata"))

['Snf2_rep01_MID96_allLanes_tophat2.0.5.bam.gbgout',
 'Snf2_rep02_MID21_allLanes_tophat2.0.5.bam.gbgout',
 'Snf2_rep03_MID28_allLanes_tophat2.0.5.bam.gbgout',
 'Snf2_rep04_MID11_allLanes_tophat2.0.5.bam.gbgout',
 'Snf2_rep05_MID82_allLanes_tophat2.0.5.bam.gbgout',
 'Snf2_rep06_MID80_allLanes_tophat2.0.5.bam.gbgout',
 'Snf2_rep07_MID26_allLanes_tophat2.0.5.bam.gbgout',
 'Snf2_rep08_MID78_allLanes_tophat2.0.5.bam.gbgout',
 'Snf2_rep09_MID04_allLanes_tophat2.0.5.bam.gbgout',
 'Snf2_rep10_MID38_allLanes_tophat2.0.5.bam.gbgout',
 'Snf2_rep11_MID01_allLanes_tophat2.0.5.bam.gbgout',
 'Snf2_rep12_MID02_allLanes_tophat2.0.5.bam.gbgout',
 'Snf2_rep13_MID59_allLanes_tophat2.0.5.bam.gbgout',
 'Snf2_rep14_MID33_allLanes_tophat2.0.5.bam.gbgout',
 'Snf2_rep15_MID75_allLanes_tophat2.0.5.bam.gbgout',
 'Snf2_rep16_MID72_allLanes_tophat2.0.5.bam.gbgout',
 'Snf2_rep17_MID89_allLanes_tophat2.0.5.bam.gbgout',
 'Snf2_rep18_MID40_allLanes_tophat2.0.5.bam.gbgout',
 'Snf2_rep19_MID84_allLanes_tophat2.0.5.bam.gbgout',
 'Snf2_rep20_MID15_allLanes_tophat2.0.5.bam.gbgout',
 'Snf2_rep21_MID31_allLanes_tophat2.0.5.bam.gbgout',
 'Snf2_rep22_MID53_allLanes_tophat2.0.5.bam.gbgout',
 'Snf2_rep23_MID25_allLanes_tophat2.0.5.bam.gbgout',
 'Snf2_rep24_MID42_allLanes_tophat2.0.5.bam.gbgout',
 'Snf2_rep25_MID81_allLanes_tophat2.0.5.bam.gbgout',
 'Snf2_rep26_MID71_allLanes_tophat2.0.5.bam.gbgout',
 'Snf2_rep27_MID34_allLanes_tophat2.0.5.bam.gbgout',
 'Snf2_rep28_MID74_allLanes_tophat2.0.5.bam.gbgout',
 'Snf2_rep29_MID57_allLanes_tophat2.0.5.bam.gbgout',
 'Snf2_rep30_MID16_allLanes_tophat2.0.5.bam.gbgout',
 'Snf2_rep31_MID77_allLanes_tophat2.0.5.bam.gbgout',
 'Snf2_rep32_MID70_allLanes_tophat2.0.5.bam.gbgout',
 'Snf2_rep33_MID29_allLanes_tophat2.0.5.bam.gbgout',
 'Snf2_rep34_MID14_allLanes_tophat2.0.5.bam.gbgout',
 'Snf2_rep35_MID60_allLanes_tophat2.0.5.bam.gbgout',
 'Snf2_rep36_MID23_allLanes_tophat2.0.5.bam.gbgout',
 'Snf2_rep37_MID46_allLanes_tophat2.0.5.bam.gbgout',
 'Snf2_rep38_MID06_allLanes_tophat2.0.5.bam.gbgout',
 'Snf2_rep39_MID19_allLanes_tophat2.0.5.bam.gbgout',
 'Snf2_rep40_MID12_allLanes_tophat2.0.5.bam.gbgout',
 'Snf2_rep41_MID79_allLanes_tophat2.0.5.bam.gbgout',
 'Snf2_rep42_MID47_allLanes_tophat2.0.5.bam.gbgout',
 'Snf2_rep43_MID73_allLanes_tophat2.0.5.bam.gbgout',
 'Snf2_rep44_MID65_allLanes_tophat2.0.5.bam.gbgout',
 'Snf2_rep45_MID86_allLanes_tophat2.0.5.bam.gbgout',
 'Snf2_rep46_MID35_allLanes_tophat2.0.5.bam.gbgout',
 'Snf2_rep47_MID56_allLanes_tophat2.0.5.bam.gbgout',
 'Snf2_rep48_MID55_allLanes_tophat2.0.5.bam.gbgout',
 'WT_rep01_MID39_allLanes_tophat2.0.5.bam.gbgout',
 'WT_rep02_MID50_allLanes_tophat2.0.5.bam.gbgout',
 'WT_rep03_MID51_allLanes_tophat2.0.5.bam.gbgout',
 'WT_rep04_MID58_allLanes_tophat2.0.5.bam.gbgout',
 'WT_rep05_MID93_allLanes_tophat2.0.5.bam.gbgout',
 'WT_rep06_MID30_allLanes_tophat2.0.5.bam.gbgout',
 'WT_rep07_MID24_allLanes_tophat2.0.5.bam.gbgout',
 'WT_rep08_MID20_allLanes_tophat2.0.5.bam.gbgout',
 'WT_rep09_MID91_allLanes_tophat2.0.5.bam.gbgout',
 'WT_rep10_MID37_allLanes_tophat2.0.5.bam.gbgout',
 'WT_rep11_MID54_allLanes_tophat2.0.5.bam.gbgout',
 'WT_rep12_MID03_allLanes_tophat2.0.5.bam.gbgout',
 'WT_rep13_MID45_allLanes_tophat2.0.5.bam.gbgout',
 'WT_rep14_MID52_allLanes_tophat2.0.5.bam.gbgout',
 'WT_rep15_MID09_allLanes_tophat2.0.5.bam.gbgout',
 'WT_rep16_MID92_allLanes_tophat2.0.5.bam.gbgout',
 'WT_rep17_MID66_allLanes_tophat2.0.5.bam.gbgout',
 'WT_rep18_MID48_allLanes_tophat2.0.5.bam.gbgout',
 'WT_rep19_MID83_allLanes_tophat2.0.5.bam.gbgout',
 'WT_rep20_MID90_allLanes_tophat2.0.5.bam.gbgout',
 'WT_rep21_MID62_allLanes_tophat2.0.5.bam.gbgout',
 'WT_rep22_MID67_allLanes_tophat2.0.5.bam.gbgout',
 'WT_rep23_MID36_allLanes_tophat2.0.5.bam.gbgout',
 'WT_rep24_MID69_allLanes_tophat2.0.5.bam.gbgout',
 'WT_rep25_MID61_allLanes_tophat2.0.5.bam.gbgout',
 'WT_rep26_MID08_allLanes_tophat2.0.5.bam.gbgout',
 'WT_rep27_MID41_allLanes_tophat2.0.5.bam.gbgout',
 'WT_rep28_MID64_allLanes_tophat2.0.5.bam.gbgout',
 'WT_rep29_MID68_allLanes_tophat2.0.5.bam.gbgout',
 'WT_rep30_MID27_allLanes_tophat2.0.5.bam.gbgout',
 'WT_rep31_MID43_allLanes_tophat2.0.5.bam.gbgout',
 'WT_rep32_MID95_allLanes_tophat2.0.5.bam.gbgout',
 'WT_rep33_MID88_allLanes_tophat2.0.5.bam.gbgout',
 'WT_rep34_MID76_allLanes_tophat2.0.5.bam.gbgout',
 'WT_rep35_MID32_allLanes_tophat2.0.5.bam.gbgout',
 'WT_rep36_MID63_allLanes_tophat2.0.5.bam.gbgout',
 'WT_rep37_MID07_allLanes_tophat2.0.5.bam.gbgout',
 'WT_rep38_MID87_allLanes_tophat2.0.5.bam.gbgout',
 'WT_rep39_MID05_allLanes_tophat2.0.5.bam.gbgout',
 'WT_rep40_MID18_allLanes_tophat2.0.5.bam.gbgout',
 'WT_rep41_MID13_allLanes_tophat2.0.5.bam.gbgout',
 'WT_rep42_MID10_allLanes_tophat2.0.5.bam.gbgout',
 'WT_rep43_MID49_allLanes_tophat2.0.5.bam.gbgout',
 'WT_rep44_MID22_allLanes_tophat2.0.5.bam.gbgout',
 'WT_rep45_MID44_allLanes_tophat2.0.5.bam.gbgout',
 'WT_rep46_MID94_allLanes_tophat2.0.5.bam.gbgout',
 'WT_rep47_MID17_allLanes_tophat2.0.5.bam.gbgout',
 'WT_rep48_MID85_allLanes_tophat2.0.5.bam.gbgout']

In [16]:
s = "WT_rep40_MID18_allLanes_tophat2.0.5.bam.gbgout"

In [20]:
filesplit = s.split('_')

In [37]:
filesplit[0:2]

['WT', 'rep40']

In [38]:
"_".join(filesplit[0:2])

'WT_rep40'

In [42]:
# 
# Input data are in individual tab-delimited files, one for each experiment
# Here I load each one into its own Pandas dataframe and create a list of frames
#

frames = []

for file in sorted(os.listdir("rawdata")):
    if file.endswith(".gbgout"):
        fs = file.split('_')
        name = "_".join(fs[0:2])
        filepath = os.path.join("rawdata/", file)
        frames.append(pd.read_csv(filepath, sep="\t", header = None, names=['Gene',name]))

In [60]:
l = [1,2,3,5,7,11,13,17]

for x in l:
    print (x)

1
2
3
5
7
11
13
17

In [61]:
df = frames[0]
for rdf in frames[1:]:
    df = df.merge(rdf,on="Gene",how='outer')

In [62]:
df

,Gene,Snf2_rep01,Snf2_rep02,Snf2_rep03,Snf2_rep04,Snf2_rep05,Snf2_rep06,Snf2_rep07,Snf2_rep08,Snf2_rep09,...,WT_rep39,WT_rep40,WT_rep41,WT_rep42,WT_rep43,WT_rep44,WT_rep45,WT_rep46,WT_rep47,WT_rep48
0,15S_rRNA,4,2,5,5,46,3,5,4,2,...,0,49,9,4,11,12,1,22,12,4
1,21S_rRNA,31,18,23,44,356,62,35,33,13,...,10,274,49,30,72,58,21,159,107,70
2,HRA1,5,1,3,1,2,1,1,4,4,...,5,3,6,5,2,2,2,5,2,1
3,ICR1,205,196,211,252,127,146,275,160,190,...,85,177,137,118,113,81,142,94,187,106
4,LSR1,210,103,159,260,298,522,303,96,132,...,66,385,232,149,114,81,109,132,243,128
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7126,no_feature,888995,641333,544060,955003,616339,764571,1290592,598769,827934,...,403527,1035268,759722,578053,615809,446796,683906,462390,901045,639100
7127,ambiguous,730793,665470,709428,821933,1171511,529946,925353,669715,717502,...,583744,2002465,865662,646805,570375,1011281,899586,596335,1321941,803015
7128,too_low_aQual,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7129,not_aligned,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7130,alignment_not_unique,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [47]:
frames[-1]

                      Gene  WT_rep48
0                 15S_rRNA         4
1                 21S_rRNA        70
2                     HRA1         1
3                     ICR1       106
4                     LSR1       128
...                    ...       ...
7126            no_feature    639100
7127             ambiguous    803015
7128         too_low_aQual         0
7129           not_aligned         0
7130  alignment_not_unique         0

[7131 rows x 2 columns]

In [15]:
#
# This combines all of the individual frames into one dataframe, combining on the "Gene" column
#

df = reduce(lambda  left,right: pd.merge(left,right,on=['Gene'], how='outer'), frames)

In [16]:
#
# Sort columns by name
#

df = df.reindex(sorted(df.columns),axis=1)

In [17]:
df

,Gene,Snf2_rep01,Snf2_rep02,Snf2_rep03,Snf2_rep04,Snf2_rep05,Snf2_rep06,Snf2_rep07,Snf2_rep08,Snf2_rep09,...,WT_rep39,WT_rep40,WT_rep41,WT_rep42,WT_rep43,WT_rep44,WT_rep45,WT_rep46,WT_rep47,WT_rep48
0,15S_rRNA,4,2,5,5,46,3,5,4,2,...,0,49,9,4,11,12,1,22,12,4
1,21S_rRNA,31,18,23,44,356,62,35,33,13,...,10,274,49,30,72,58,21,159,107,70
2,HRA1,5,1,3,1,2,1,1,4,4,...,5,3,6,5,2,2,2,5,2,1
3,ICR1,205,196,211,252,127,146,275,160,190,...,85,177,137,118,113,81,142,94,187,106
4,LSR1,210,103,159,260,298,522,303,96,132,...,66,385,232,149,114,81,109,132,243,128
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7126,no_feature,888995,641333,544060,955003,616339,764571,1290592,598769,827934,...,403527,1035268,759722,578053,615809,446796,683906,462390,901045,639100
7127,ambiguous,730793,665470,709428,821933,1171511,529946,925353,669715,717502,...,583744,2002465,865662,646805,570375,1011281,899586,596335,1321941,803015
7128,too_low_aQual,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7129,not_aligned,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7130,alignment_not_unique,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [65]:
df['Gene'].str.startswith('Y')

0       False
1       False
2       False
3       False
4       False
        ...
7126    False
7127    False
7128    False
7129    False
7130    False
Name: Gene, Length: 7131, dtype: bool

In [68]:
df[df['Snf2_rep01'] > 1000]

,Gene,Snf2_rep01,Snf2_rep02,Snf2_rep03,Snf2_rep04,Snf2_rep05,Snf2_rep06,Snf2_rep07,Snf2_rep08,Snf2_rep09,...,WT_rep39,WT_rep40,WT_rep41,WT_rep42,WT_rep43,WT_rep44,WT_rep45,WT_rep46,WT_rep47,WT_rep48
60,TLC1,2314,1587,1926,2159,1537,920,3054,1476,1935,...,872,1802,1564,1144,1264,698,1577,978,1823,1297
63,YAL003W,7296,6129,6464,7278,5613,3046,7687,6714,8382,...,9291,12055,13542,8441,7337,8639,14315,6618,14745,9878
65,YAL005C,9851,10226,12006,10714,8575,2791,11764,8237,12213,...,10177,21176,13270,12337,14303,14268,14993,9607,16075,14797
66,YAL007C,1519,1276,1364,1611,1116,591,1951,1002,1665,...,753,1399,1095,818,755,753,1137,695,1346,910
71,YAL012W,7277,7124,7545,8022,5875,7223,8985,6530,8068,...,4421,6788,5605,4121,3639,5998,7428,2768,7148,4273
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6738,YPR198W,1009,879,833,1116,749,761,1355,649,1117,...,416,850,568,448,569,399,663,349,691,569
6745,YPR204W,1849,1544,1611,1834,1138,2344,2367,1619,1481,...,1010,1419,1005,778,596,1448,1602,597,1393,1010
6824,snR86,1328,897,1063,1265,935,1498,1757,823,869,...,424,1125,776,593,881,437,796,653,1045,819
7126,no_feature,888995,641333,544060,955003,616339,764571,1290592,598769,827934,...,403527,1035268,759722,578053,615809,446796,683906,462390,901045,639100
7127,ambiguous,730793,665470,709428,821933,1171511,529946,925353,669715,717502,...,583744,2002465,865662,646805,570375,1011281,899586,596335,1321941,803015

In [69]:
df = df[df['Gene'].str.startswith('Y')]

In [70]:
#
# Use only genes starting with "Y" which are protein-coding genes
#

df = df[df['Gene'].str.startswith('Y')]

In [71]:
#
# Index dataframe on 'Gene'
#

df = df.set_index('Gene')

In [72]:
# Save

df.to_csv("Barton_combined_Ygenes.txt", sep='\t')

In [73]:
df.to_pickle("Barton_combined_Ygenes.pkl")